$primaryColor: #747ffe;
$secondaryColor: #280a5f;

.active-link {
  color: $primaryColor;
  font-weight: bold;
}

.inactive-link {
  color: $secondaryColor;
  font-weight: bold;
}

.custom-button {
  border-radius: 10% !important;
  width: 222px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button:hover {
  color: #747ffe;
  opacity: 0.8;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to right, #f059fc, #00b6ff);
}
